# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Maven Wrapper
mvnw
mvnw.cmd

# IDE
.idea/
*.iws
*.iml
*.ipr
.classpath
.project
.settings/
bin/
build/

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Docker
docker-compose.yml
Dockerfile

# Kubernetes
k8s/